{% extends "base.html" %}
{% load static %}


{% block content %}
  <h1>Notifications</h1>
<ul>
  <li class="notifi-item">Lorem Ipsum Item Test</li>
  <li class="notifi-item">Lorem Ipsum Item Test</li>
  <li class="notifi-item">Lorem Ipsum Item Test</li>
  <li class="notifi-item">Lorem Ipsum Item Test</li>
  <li class="notifi-item">Lorem Ipsum Item Test</li>
  <li class="notifi-item">Lorem Ipsum Item Test</li>
  <li class="notifi-item">Lorem Ipsum Item Test</li>
  <li class="notifi-item">Lorem Ipsum Item Test</li>
</ul>


{% endblock content %}